fastapi
uvicorn[standard]
python-multipart

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-openrouter

pymupdf
sentence-transformers
python-dotenv